@font-face {
    font-family: elzevir;
    src: url(/css/font/elzevir.ttf) format('truetype');
}

body {
    margin: 5px;
    background-color: #fdd26a;
    color: rgb(108, 37, 15);
}

h1 {
    margin-top: 12px;
}

h2 {
    background-color: #fee4a4;
    padding: 7px;
}

.elzevir {
    font-family: elzevir;
}

.f-color {
    color: rgb(108, 37, 15);
}

#head-alert {
    color: rgb(115, 15, 20);
    text-align: justify;
}

.y-color {
    background-color: #fdd26a;
}

.y2-color {
    background-color: #fdda81;
}

.y3-color {
    background-color: #fdde8d;
}

.y4-color {
    background-color: #fee198;
}

.y5-color {
    background-color: #fee4a4;
}

.y6-color {
    background-color: #fee8af;
}

.y7-color {
    background-color: #feebbb;
}

.center {
    text-align: center;
}

.x-alert {
    padding: 3px;
    margin: 5px;
    color: red;
    border: 1px solid red;
    background-color: #feebbb;
}

.biograf {
    line-height: 1.7;
}

.biograf div {
    text-indent: 15px;
    text-align: justify;
}

#responsive-menu {
    background-color: #fdde8d;
    margin-bottom: 5px;
}

#responsive-menu ul {
    background-color: #fdde8d;
}

.f-color-x {
    color: rgb(108, 37, 15);
}

.stihi-in-title {
    font-size: smaller;
    font-style: italic;
}

#stihi {
    margin-top: 10px;
    margin-left: 5px;
    line-height: 150%;
}

footer {
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
}

.title-bar {
    background-color: #143924;
}